!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %script{src: "/jquery-1.4.4.min.js"}
    %script{src: "/templates.js"}
    %script{src: "/app.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/app.css"}
    %title
      Sample page for shared-views
  %body
    .outer-wrapper
      .inner-wrapper
        .content= content